/* Estilos básicos para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: -50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.4s, color 0.4s;
}

/* Estilo do cabeçalho */
header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    transition: color 0.4s;
}

/* Contêiner principal */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo do relógio */
.clock {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Estilo do calendário e avisos */
.date, .year-info {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Botão de alternância de tema */
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* Modo Escuro */
body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

body.dark-mode h1 {
    color: #f0f0f0;
}

body.dark-mode .container {
    background-color: #444;
}
